<h1 mat-dialog-title>Picture</h1>
<mat-tab-group>
  <mat-tab label="Basic data">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field >
        <mat-label>Id</mat-label>
        <input matInput [value]="picture.id" [disabled]="true"/>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Version</mat-label>
        <input matInput [value]="picture.version" [disabled]="true"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Collection</mat-label>
        <input matInput [value]="picture.collectionName" [disabled]="true"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput [value]="picture.name" [disabled]="true"/>
      </mat-form-field>
    </div>
    <mat-form-field class="full-width">
      <mat-label>Full path</mat-label>
      <input matInput [value]="picture.path" [disabled]="true"/>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field >
        <mat-label>Created</mat-label>
        <input matInput [value]="picture.created | date:'d.M.yyyy HH:mm:SS'" [disabled]="true"/>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Updated</mat-label>
        <input matInput [value]="picture.modified | date:'d.M.yyyy HH:mm:SS'" [disabled]="true"/>
      </mat-form-field>
    </div>
  </mat-tab>
  <mat-tab label="File properties">
    <div>
      <table mat-table [dataSource]="picture.metadata" class="full-width">
        <ng-container matColumnDef="key">
          <mat-header-cell *matHeaderCellDef> Key </mat-header-cell>
          <mat-cell *matCellDef="let entry"> {{entry.key}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
          <mat-cell *matCellDef="let entry"> {{entry.value}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Close</button>
</div>
