<app-floating-button [params]="floatingButtonParams"></app-floating-button>
<div class="card-list-wrapper" fxLayout="column">
  <div>
    <app-pagination [controller]="paginationController"></app-pagination>
  </div>
  <!-- TODO get css dynamically (from controller ?) -->
  <div class="card-list" fxLayout="row wrap">
    <ng-container *ngFor="let listItem of listItems">
      <app-thumb-card [item]=listItem [controller]="controller"></app-thumb-card>
    </ng-container>
  </div>
  <div>
    <app-pagination [controller]="paginationController"></app-pagination>
  </div>
</div>
