<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <button mat-button routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span translate>Collections</span>
  </button>
  <button mat-button routerLink="/about" routerLinkActive="active">
    <mat-icon>photo_library</mat-icon>
    <span translate>Albums</span>
  </button>
  <button mat-button routerLink="/tag" routerLinkActive="active">
    <mat-icon>local_offer</mat-icon>
    <span translate>Tags</span>
  </button>
  <span fxFlex></span>
  <mat-icon matBadge="{{queueLength}}" matBadgePosition="after" matBadgeColor="accent">
    queue
  </mat-icon>
  <button mat-button (click)="toggleLock()">
    <mat-icon>{{currentLockStatus}}</mat-icon>
  </button>
  <button mat-button (click)="notifications()">
    <mat-icon>notifications_none</mat-icon>
  </button>
  <button mat-button>
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
