<div class="thumb-card-wrapper">
  <mat-card class="thumb-card">
    <mat-card-content >
      <div fxLayout="column">
        <div>
        <a appLongPress (onLongPressEnd)="onLongPress($event)" (onClick)="onClick($event)" class="thumb-card-header">
          <div fxLayout="column">
            <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
              {{item.name}}
            </div>
            <div  class="thumb-background" [style.background-image]="getThumbNail()">
              <ng-container *ngIf="item.overlay">
                <div class="lock-wrapper">
                  <mat-icon class="{{item.overlay}}">{{item.overlay}}</mat-icon>
                </div>
              </ng-container>
            </div>
          </div>
        </a>
        </div>
        <div class="thumb-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="thumb-footer-text">
            <div fxLayout="row" fxLayoutAlign="start center">
              {{item.footerText}}
              <mat-icon>
                {{controller.cardFooterIcon}}
              </mat-icon>
            </div>
          </div>
          <div class="thumb-actions">
            <ng-container *ngFor="let params of controller.thumbCardFooterParams(item), trackBy:trackByIcon">
              <button class="{{params.cssClass}}" (click)="params.click(item)" [disabled]=params.disabled>
                <mat-icon>
                  {{params.icon}}
                </mat-icon>
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
