.thumb-card {
  width: 180px;
  // sectio aurea would be 290
  height: 260px;
  margin: 0 10px 10px;
  padding: 5px;
}

.thumb-background {
  width: 180px;
  height: 180px;
  background-position: center center;
  background-size: cover;
  // margin-left: -5px
}

a.thumb-card-header {
  font-size: 19px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.lock-wrapper {
  height: 260px;
  width: 180px;
  top: 0px;
  position: absolute;
}

.lock {
  font-size: 60px;
  color: red;
  height: 260px;
  width: 180px;
  top: 110px;
  left: 0;
  position: absolute;
}

.lock_open {
  color: green;
  left: 0;
  top: 60px;
  position: absolute;
}

.selection {
  top: 0px;
  left: 78px;
  position: relative;
}
