<!-- TODO get css dynamically (from controller ?) -->
<div class="thumb-card-wrapper">
  <mat-card class="thumb-card">
    <mat-card-content >
      <div fxLayout="column">
        <a [routerLink]="item.routerLink" class="thumb-card-header" >
          <div fxLayout="column">
            <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
              {{item.name}}
            </div>
            <div [ngStyle]="thumbnailStyle">
            </div>
          </div>
        </a>
        <div class="thumb-card-footer" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="thumb-footer-text">
            <div fxLayout="row" fxLayoutAlign="start center">
              {{item.footerText}}
              <mat-icon>
                {{controller.cardFooterIcon}}
              </mat-icon>
            </div>
          </div>
          <div class="thumb-actions">
            <ng-container *ngFor="let params of controller.thumbCardFooterParams">
              <button class="{{params.cssClass}}" (click)="params.click(item)">
                <mat-icon>
                  {{params.icon}}
                </mat-icon>
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
