.pagination-wrapper {
  margin: 5px 0px;
}

.pagination-button {
  font-size: 19px;
  background: unset;
  margin: 2px;
}

.pagination-button.current {
  font-size: 19px;
  background: lightgrey;
  margin: 2px;
}
